#block {
    width: 200px;
    height: 100px;
    background: green;
}

#myProgress {
    position: relative;
    width: 1000px;
    height: 30px;
    background-clip: #ddd;
}

#myBar {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: #4CAF50;
}

#label {
    text-align: center;
    line-height: 30px;
    color: white;
}


#myContainer {
    width: 200;
    height: 200;
    position: relative;
    background: yellow;
}

#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
}

up.topnav{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li {
    float: left;
}
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}